.masthead{
    background-image: url(images/chiron.jpg);
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.logo{
    width: 13vh;
    height: 13vh;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
  }

.card, .card-body, .card-header {
    background-color: #1B2430;
}

label, button, h2 {
    color: white;
}