.logo{
    width: 13vh;
    height: 13vh;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
  }

section {
    background-color: #1b2430;
}

h3, label{
    color:white;
}
