.masthead{
    background-image: url('images/server_2.png');
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #1B2430;
  }
  
.container, .card, .card-body{
  background-color: #1B2430;
}

td, th {

    text-align: left;
    padding: 8px;
    color: white;
  }
  
tr:nth-child(even){
    color: white;
  }

.logo{
  width: 13vh;
  height: 13vh;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
    
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}