p, div{
    color: white;
}

h1 {
    color:black
}

footer {
    background-color: #1b2f4a;
}

.logo{
    width: 13vh;
    height: 13vh;
    object-fit: contain;
    display: flex;
    justify-content: space-between;  
}
