body{
    background-color: #1B2430;
}

h1, p{
    color: white;
}

.logo{
    width: 13vh;
    height: 13vh;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    
}
