.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}
    
@media (min-width: 1025px) {
.h-custom-2 {
height: 50%;
}
}

.logo {
    width: 13vh;
    height: 13vh;
    object-fit: contain;
    display: flex;
    justify-content: space-between;  
}
    
.container {
    height: 100dvh;
    width: 100%;
}

.masthead{
    background-image: url(images/x70.png);
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

